# Idea project files
.idea/
*.iml
*.ipr
*.iws

# Eclipse project files
.classpath
.project

# Java class files
*.class

target

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log file
*.log
